---
import Layout from '../../layouts/Layout.astro'
import {getTokens} from '../../lib/sanity'

export async function getStaticPaths() {
  const tokens = await getTokens()
  return tokens.map((token) => ({
    params: {slug: token.slug.current},
    props: {token},
  }))
}

const {token} = Astro.props
---

{/* The Webflow detail_tokens.html body was empty; render the token name as a minimal binding. */}
<Layout title={token.name}>
  <div>{token.name}</div>
</Layout>
